---
import { Picture } from 'astro:assets';
import img from '~/assets/mountains-8314422.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="后记" description="About this site." currentNav="About">
	<Picture
		class="lg:float-right lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp']}
		alt="mountains"
	/>
	<p>
		这个模板是我根据浙大一位开源教学精神分享的视频教程一步一步实现的，开源万岁。
	</p>
	
	<p>
		当热情退去，是否还会不后悔学通信工程。
	</p>
</MarkdownLayout>
